<h1>New Plan</h1>

<%= form_with scope: :plan, url: plans_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :start_date %><br>
    <%= form.text_field :start_date %>
  </p>

  <p>
    <%= form.label :number_of_weeks %><br>
    <%= form.text_field :number_of_weeks %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>