<div class="container">

<div class="p-1">
  <%=link_to '< Back to plans', plans_path %>
</div>

<h1><%=@plan.title%> (PUBLISH) </h1>

<div>
<%=link_to 'Gather', gather_plan_path(@plan) %> |
<%=link_to 'Refine', refine_plan_path(@plan) %> |
<%=link_to 'Enrich', enrich_plan_path(@plan) %> |
<%=link_to 'Publish', publish_plan_path(@plan) %>
</div>

Coming soon...

</div>