<div class="container">
<div class="p-1">
  <%=link_to '< Back to plans', plans_path %>
</div>

<h1><%=@plan.title%></h1>

<dl class="row">
  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9"><%=@plan.description%></dd>

  <dt class="col-sm-3">Start Date</dt>
  <dd class="col-sm-9"><%=@plan.start_date%></dd>

  <dt class="col-sm-3">Weeks</dt>
  <dd class="col-sm-9"><%=@plan.number_of_weeks%></dd>

  <dt class="col-sm-3">Songs needed</dt>
  <dd class="col-sm-9"><%=@plan.songs_needed%></dd>
</dl>

<div>
<%=link_to 'Gather', gather_plan_path(@plan) %> |
<%=link_to 'Refine', refine_plan_path(@plan) %> |
<%=link_to 'Enrich', enrich_plan_path(@plan) %> |
<%=link_to 'Publish', publish_plan_path(@plan) %>
</div>

<h2>Songs</h2>
<table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Used</th>
      <th>Schedule Score</th>
            </tr>
          </thead>
          <tbody>
            <% @plan.pco_plan_songs.each do |plan_song| %>
<tr>
      <td><%=link_to(plan_song.pco_song.title, song_path(plan_song.pco_song.id))%><br/>
      <%=plan_song.pco_song.pco_tags.map { |tag| tag.value}.join(', ')%></td>
      <td><%=plan_song.pco_song.last_used_days.to_i%></td>
      <td><%=number_with_precision((plan_song.pco_song.normalized.score || 0) * 100, precision: 1)%></td>
    </tr>
            <% end %>
            
          </tbody>
        </table>
 </div>