<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <title>Labs | Gospel Toolbox</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all'%>

  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>

<body>
  <%= render 'partials/navbar' %>
  <%= render 'partials/alerts' %>

  <div class="app-wrapper">
    <%= yield %>
  </div>

  <%= render 'partials/google_analytics' %>
</body>
</html>